* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

img {
    max-width: 100px; /* Ajuste conforme necessário */
    height: auto;
}

nav {
    background: rgb(15, 101, 172);/*#444444 cinza*/
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

main section {
    flex: 1.5;
    background:rgb(15, 101, 172) ;/*#f4f4f4*/
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

section{
    width: 100%;
}

main section h2{
    text-align: center;
    overflow-x: auto; /* Barra de rolagem vertical */
}


main article {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    

    flex: 1;
    background: #e4e4e4;
    padding: 1rem;
    border-radius: 5px;
}

main article img{
    width: 50px;
    height: 50px;
    
    margin-bottom: 1rem;

}

.solucao {
    display: none;
    margin-top: 1rem;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;

}

.solucao.visible {
    display: block;
}

.solucao p {
    white-space: pre-wrap; /* Mantém a formatação do código */
}


button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0f65ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0a4a82;
}

aside {
    background: #f4f4f4;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    display: flex;
    margin: 0 10px;
}

.social-icons img {
    display: flex;
    width: 30px;
    height: 30px;
}




